<h1>My portfolio</h1>
<div class='search-area'>
  <h3>Search Stocks</h3>
  <%= form_tag 'stock', remote: true, method: :get do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%= text_field_tag :symbol, params[:symbol], placeholder: 'Please provide stock symbol', class: "form-control form-control-lg", autofocus:true %>
      </div>
      <div class="col-sm-3">
        <%= button_tag "Search", type: :submit, class:"btn-lg btn-success"%>
      </div>
    </div>
    <% end %>
</div>

<div id='stock-results'>
  <%= render 'users/stock_search_result' %>
</div>

<%= render 'user_stocks/user_stocks_listing' if !@user_stocks.empty? %>